services:
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
      target: production
      args:
        - VITE_BACKEND_URL=${API_URL:-http://localhost}
    env_file:
      - ./client/.env
    container_name: app-frontend
    depends_on:
      - backend
    networks:
      - app-network
    ports:
      - 3000:3000
    volumes:
      - ./client:/app
      - /app/node_modules

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
      target: production
    container_name: app-backend
    env_file:
      - ./server/.env
    networks:
      - app-network
    ports:
      - 5000:5000
    volumes:
      - ./server:/app
      - /app/node_modules

networks:
  app-network:
    driver: bridge
